{
  "extends": "eslint:recommended",
    "rules": {
      'no-console': 0,
      'semi': 2,
      'no-undef': 2,
      'no-empty': 2,
      'no-unused-vars': 1,
      'no-global-assign': 0,
      'space-in-parens': ["error", "always"]
    },
  "env": {
    'browser': true,
    'es6': true,
  }
}
