
<div class="row">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{item.imageFullUrl}}" width="135">
    </div> <!-- end card image -->
    <div class="card-stacked">
      <div class="card-content">
        <div class="row">
          <a href="{{item.transactionUrl}}" class="item-title activator grey-text text-darken-4">{{item.title}}</a>
        </div>
        <div *ngIf="item.variationName1 !== null" class="row">
          <div  class="col s12">
            <div class="variation-name">{{item.variationName1}}: {{item.variationValue1}}</div>
          </div>
          <div *ngIf="item.variationName2 !== null" class="col s12">
            <div class="variation-name">{{item.variationName2}}: {{item.variationValue2}}</div>
          </div>
        </div>
        <div class="row">
          <div class="left">Qty: {{item.quantity}}</div>
          <div class="right">{{item.price | currency:'USD':true}}</div>
        </div>

      </div> <!-- end card-content -->

    </div> <!-- end card-stacked -->
  </div> <!-- end card horizontal -->
</div> <!-- end panel row -->
