
<div class="row">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{item.imageFullUrl}}" width="135">
    </div> <!-- end card image -->
    <div class="card-stacked">
      <div class="card-content">
        <div class="item-title">
          <a href="{{item.transactionUrl}}" class="item-title activator grey-text text-darken-4">{{item.title}}</a>
        </div>
        <div *ngIf="item.variationName1 !== null">
          <div>
            <div class="variation">
              <span class="variation-name">{{item.variationName1}}:</span> {{item.variationValue1}}</div>
          </div>
          <div *ngIf="item.variationName2 !== null">
            <div class="variation">
              <span class="variation-name">{{item.variationName2}}:</span> {{item.variationValue2}}
            </div>
          </div>
        </div>
        <div>
          <div class="left">Qty: {{item.quantity}}</div>
          <div class="right">{{item.price | currency:'USD':true}}</div>
        </div>

      </div> <!-- end card-content -->

    </div> <!-- end card-stacked -->
  </div> <!-- end card horizontal -->
</div> <!-- end panel row -->
