
<div class="row">
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://lorempixel.com/100/190/nature/6">
    </div> <!-- end card image -->
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{item.title}}</span>
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div> <!-- end card-content -->
      <div class="card-action">
        <a href="#">This is a link</a>
      </div> <!-- end card-action -->
    </div> <!-- end card-stacked -->
  </div> <!-- end card horizontal -->
</div> <!-- end panel row -->
