<app-public-nav></app-public-nav>

<div class="container">
  <p>Craft Queue uses the Etsy API. Please click the button below to begin the authorization process. We have limited the scope of the authorization request to only the information necessary for Craft Queue to display your current orders.</p>
  <p>"The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc."</p>
  <a href="{{redirectUrl}}" class="waves-effect waves-light btn">Authorize</a>
</div>
