<div class="container">
  <!-- <app-order-card *ngFor="let order of Orders" [order]="order"></app-order-card> -->
  <li *ngFor="let order of orders">
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel grey lighten-4">

        <div class="row">
          <div class="left">{{order.buyerName}}</div>
          <div class="deadline right">{{order.shipBy | date: "fullDate"}}</div>
        </div>

        <div *ngIf="order.buyerMessage !== null && order.buyerMessage !== ''" class="row">
          <div class="col m12 buyer-message">
            <p>{{order.buyerMessage}}</p>
          </div>
        </div>

        <app-order-item *ngFor="let item of order.items" [item]="item"></app-order-item>

        <div class="row">
          <div class="left">Ordered on: {{order.orderDate | date: "mediumDate"}}</div>
          <div class="right">Total: {{order.totalPrice | currency:'USD':true}}</div>
        </div>  <!-- end panel bottom row -->

      </div> <!-- end card-panel  -->
    </div> <!-- end column  -->
  </div> <!-- end row -->
  </li>
</div>
