/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Hind');
nav {
  margin-bottom: 3rem;
}
.brand-logo {
  font-family: 'Bree Serif', serif;
}
body{
  font-family: 'Hind', sans-serif;
}
h1, h2, h3, h4, h5, h6, .item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.hero{
  padding-top: 3rem;
  background-image: url(/assets/jo-szczepanska-57782.jpg);
  background-size: 100%;
  /*height: 100%;
  width: 100%;*/
  min-height: 28rem;
}
.hero-text{
  text-shadow: 1px 1px #254640
}
.item-title{
  font-size: 1.1rem;
  line-height: 1.4rem;
}
#splash-button{
  display:block;
  margin: auto;
  margin-top: 1rem;
  width: 164px;
}
.card .card-content {
  padding: .7rem 1rem;
}

.card.horizontal .card-image {
  max-width: 25%;
}
.card.horizontal .card-image img{
  padding: 0;
  margin: auto;
}
.card-panel {
  padding: .8rem 2rem .4rem 2rem;
}
.row {
  margin-bottom: .3rem;
}

.variation {
  padding: 0;
  font-weight: bolder;
}
.variation, .item-title {
  padding-bottom: .4rem;
}

.card-panel p {
  margin: .3rem 0;
}
